<style>
    button {
        background-color: #ff4c3b;
        color: white;
        cursor: pointer;
        padding: 10px;
        transition: all 0.3s ease-in-out;
        border: 2px solid #ff4c3b;
    }

    button:hover {
        background-color: #fff;
        border: 2px solid #ff4c3b;
        color: #ff4c3b;
        transition: all 0.3s ease-in-out;
    }

    h1 {
        color: #ff4c3b;
    }
</style>

<h1 mat-dialog-title>Alert</h1>
<div mat-dialog-content>The Compare list is full!</div>
<div mat-dialog-content>You can add only 3 products.</div>
<button class="text-capitalize mt-4" mat-raised-button (click)="closeDialog()">
    close
</button>